<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Business Card</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">BUSINESS CARD</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
               
            </ul>
        </div>
    </nav>
</head>
<body>
    <div class="form">
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="fname">First name :</label>
            <input type="text" name="fname" id="fname"><br>
    
            <label for="lname">Last name :</label>
            <input type="text" name="lname" id="lname"><br>
    
            <label for="desig">Designation :</label>
            <input type="text" name="desig" id="desig"><br>
    
            <label for="comp">Current company :</label>
            <input type="text" name="comp" id="comp"><br>
    
            <label for="phone">Phone No.</label>
            <input type="number" name="phone" id="phone"><br>
    
            <label for="mail">Email :</label>
            <input type="email" name="mail" id="mail"><br>
    
            <label for="house">House address :</label>
            <textarea name="house" id="house" cols="30" rows="10"></textarea><br>
    
            <label for="picture">Display picture :</label>
            <input type="file" name="picture"><br>
    
            <label for="twitter">Twitter :</label>
            <input type="url" name="twitter" id="twitter"><br>
    
            <label for="linkedin">LinkdedIn :</label>
            <input type="url" name="linkedin" id="linkedin"><br>
    
            <label for="insta">Instagram :</label>
            <input type="url" name="insta" id="insta"><br>
    
            <label for="gihub">GitHub :</label>
            <input type="url" name="github" id="github" placeholder="Optional"><br>
    
            <label for="whatsapp">whatsapp :</label>
            <input type="number" name="whatsapp" id="whatsapp"><br>
    
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
<footer class="ft">
    <p>Made by <a href="https://www.linkedin.com/in/nikhil-pidamarthi-31551120b" target="_blank">@nikhil-pidamarthi</a>  </p>
   </footer>

</html>